# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Node
node_modules/
.next/
out/

# Build
build/
dist/

# OS Files
.DS_Store
Thumbs.db